[submodule "openvr"]
	path = Externals/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "WinSparkle"]
	path = Externals/WinSparkle
	url = https://github.com/LibreVR/ext-win-sparkle.git
[submodule "microprofile"]
	path = Externals/microprofile
	url = https://github.com/zeux/microprofile.git
[submodule "Vulkan"]
	path = Externals/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
