# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <windows.h>
# endif
#include "version.h"

IDI_ICON1	ICON	DISCARDABLE	"revive_white.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION REV_MAJOR_VERSION,REV_MINOR_VERSION,REV_PATCH_VERSION,REV_BUILD_NUMBER
	PRODUCTVERSION REV_MAJOR_VERSION,REV_MINOR_VERSION,REV_PATCH_VERSION,REV_BUILD_NUMBER
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "LibreVR\0"
				VALUE "FileDescription", "\0"
				VALUE "FileVersion", REV_VERSION_STRING
				VALUE "LegalCopyright", "\0"
				VALUE "OriginalFilename", "ReviveOverlay.exe\0"
				VALUE "ProductName", "Revive\0"
				VALUE "ProductVersion", REV_VERSION_STRING
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END
	END
/* End of Version info */

